/*
Modified code from Steven Lambert (@straker) from CodePen
https://codepen.io/straker/pen/VazMaL
Used under MIT Licensing
*/

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.spacer {
  height: 10%;
  size: 20px;
  margin-top: 20%;
}

.main{
  display: flex;
  flex-direction: column;
}

.lives {
  color: black;
  font-size: 75px;
  text-align: center;
  user-select: none;
  /* bottom: 0; */
}

.text{
  color: black;
  font-size: 75px;
  text-align: center;
  user-select: none;
}

.title{
  /* position: fixed; */
  width: 50%;
  margin: auto;
  /* left: 0; */
  margin-top: 1%;

}

#left, #right {
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

canvas {
  outline: 1px solid white;
}
