/*
Modified code from Steven Lambert (@straker) from CodePen
https://codepen.io/straker/pen/VazMaL
Used under MIT Licensing
*/

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main{
  display: flex;
  flex-direction: column;
}

.lives {
  color: black;
  font-size: 75px;
  text-align: center;
  user-select: none;
}

.text{
  position: absolute;
  color: black;
  font-size: 300%;
  width: 25%;
}

.title{
  width: 50%;
  margin: auto;
  margin-top: 1%;

}

#left, #right {
  margin-top: auto;
  margin-bottom: auto;
}

#join {
  bottom: 20%;
  left: 3%;
}

#gamemodes {
  top: 20%;
  right: 1%;
}

#gameover {
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
  outline: white double 4px;
  padding: 7% 0;
  visibility: hidden;
}

#start {
  top: 20%;
  left: 3%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

canvas {
  outline: 5px double white;
}
