/*
Modified code from Steven Lambert (@straker) from CodePen
https://codepen.io/straker/pen/VazMaL
Used under MIT Licensing
*/

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lives {
  color: black;
  font-size: 75px;
  text-align: center;
  user-select: none;
  /* bottom: 0; */
}

.text{
  color: black;
  font-size: 75px;
  text-align: center;
  user-select: none;
}

.title{
  color: white;
  font-size: 75px;
  text-align: center;
  user-select: none;
  top: 100px;
}

canvas {
  outline: 1px solid white;
}